#planned-div {
    padding-top: 1%;
    margin-bottom: -3%;
}

@media only screen and (min-width: 800px) {
    .column {
        display: flex;
    }

    .left {
        width: 65%;
        margin-left: 3%;
    }

    .right {
        width: 35%;
    }
}